node_modules
.env
# Looks very empty for now...
# Maybe you should add something here?





























































































# 🐢 Schildkröte is such a fun word